[
    {
        "scope": "https://api.flair.co:443",
        "method": "POST",
        "path": "/oauth/token",
        "body": {
            "client_id": "test_client_id",
            "client_secret": "test_client_secret",
            "grant_type": "client_credentials"
        },
        "status": 400,
        "response": {
            "error": "unsupported_grant_type"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json"
        ],
        "responseIsBinary": false
    }
]